{{- $baseDir := printf "data/comments/%s/%s" .Section .File.ContentBaseName -}}
{{- $sectionData := dict -}}
{{- if isset .Site.Data "comments" }}
{{- $sectionData = (index .Site.Data.comments .Section) -}}
{{- end -}}
{{- $receivedPage := .Site.GetPage "/comment-received" -}}

{{ with (index $sectionData .File.ContentBaseName) }}
<h4>{{ len . }} comment{{ if gt (len .) 1 }}s{{ end }}</h4>
    <ol>
    {{ range . }}
    {{- $commentId := printf "comment-%s" .id }}
        <li id="{{ $commentId }}">
            {{- if isset .comment "email#md5" -}}
            <img
                src="https://www.gravatar.com/avatar/{{ index .comment "email#md5" }}"
                alt="Gravatar profile image for commenter named '{{ .name }}'"
                class="avatar"
            >
            {{- end -}}

            <h5>{{ .comment.name | htmlEscape }}</h5>

            <small class="date">
                <a
                    href="{{ .RelPermalink }}#{{ $commentId }}"
                    title="Permanent link to {{ .name }}'s comment"
                >
                {{ partial "date" .created }}
            </a>
            </small>

            <div>
                {{ .comment.body | markdownify }}
            </div>
        </li>
    {{- end -}}
    </ol>
{{- end -}}

	{% assign comments = site.data.comments | sort %}
	
	{% for comment in comments reversed %}
		{% assign commentData = comments[1] %}

		<article class="comment mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">{{ commentData.title }}</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		  	<p><strong>By: </strong>{{ commentData.name }}</p>
		    <div class="comment__text">
		    	{{ commentData.text | markdownify }}
		    </div>
		  </div>
		</article>
	{% endfor %}







<form method="POST" action="https://comments.l3x.in/new">

    <label class="title" for="comment">Leave a comment</label>
    <textarea id="comment" name="comment[body]" placeholder="Feel free to use Markdown" rows="5" required></textarea>

    <div class="input">
        <input id="name" name="comment[name]" type="text" placeholder="Required" required>
        <label for="name">Your name</label>

        <input id="email" name="comment[email#md5]" type="email" placeholder="(Optional)">
        <label for="email">Gravatar email *</label>

        <input id="submit" type="submit" value="Post Comment">
    </div>
    <small>* hashed with MD5, i.e. never shown nor stored in plain text</small>
    <input type="hidden" name="config[redirect]" value="{{ site.url }}">
    <input type="hidden" name="config[repo]" value="boatbrain/boatbrain.github.io">
    <input type="hidden" name="config[path]" value="{{ site.url }}{{ page.url }}">
    <!-- <input type="hidden" name="akismet[blog]" value="{{ .Site.BaseURL }}">
    <input type="hidden" name="akismet[blog_lang]" value="en">
    <input type="hidden" name="akismet[authorKey]" value="name">
    <input type="hidden" name="akismet[contentKey]" value="body">
    <input type="hidden" name="akismet[key]" value="{{ .Param "staticCommentsAkismetKey" }}">
    <input type="hidden" name="akismet[permalink]" value="{{ .Permalink }}"> -->

</form>
